.contact{
    padding: 20px;
}

.contact ul{
    margin: 20px;
}

footer{
    background-color: #020113;
    color: #ffffff;
    padding: 0px 0; 
    margin-top: 0px;
    text-align: center;
}

footer h1{
    font-size: 24px;
    margin-bottom: 20px;
}

footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li{
    margin: 0 20px;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a:hover{
    color: #FFA500;
}